<div class="mailwrapper" style="width: 100%;float: left;margin-bottom: 50px;position: relative;">
	<div class="header" style="float:left; border-bottom: 1px solid #e5e1e1; width:90%; margin:0 30px;">
	</div>	
	<div class="bodymsg" style="float:left; width: 91.7%; padding: 10px 25px;">
		<p style="font-weight: bold; font-size: 16px">Buenos días.</p>
		<p>Tiene una solicitud de salida de materiales en proceso para su validación y respectiva aprobación, acceda a ella dando clic <a href="http://danae:8081/ValesDeSalida/aprobar?valorFiltrado=$datosPlantilla">aquí</a>.
		</p>
		<p>Cordial saludo </p>
	</div>
</div>
	
